初始化样式开始*/
* {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}
/*初始化样式结束*/


/*通用样式开始*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background: #f0f0f0 url('../img/bg-body.gif') top left repeat-y;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
}

h1 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -1000px;
}

h2 {
    font-size: 26px;
    padding: 0 0 10px 0;
}

h3 {
    font-size: 17px;
    padding: 0 0 10px 0;
}

h4 {
    font-size: 16px;
    padding: 0 0 5px 0;
}

h5 {
    font-size: 14px;
    padding: 0 0 5px 0;
}

h6 {
    font-size: 12px;
    padding: 0 0 5px 0;
}

a {
    color: #57a000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
    color: #777;
}

a:focus {
    outline: 1px;
}

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 0.85em;
}

pre {
    font-family: monospace;
}

p {
    padding: 5px 0 10px 0;
    line-height: 0.8em;
}

input, select, textarea {
	outline: none;
}

.clear {
    clear: both;
}

.button {
    font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #459300 url('../img/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #459300 !important;
    padding: 4px 16px 4px 16px !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer;
    margin-left: 16px;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    padding: 4px 16px 4px 16px !important;
}

.button, #main-content table tfoot td .bulk-actions select, .pagination a .number, #main-content input.text-input, #main-content textarea, #main-content, #main-content select {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.content-box, .content-box-header, ul.content-box-tabs li a.current, .shortcut-button, .notification {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
/*通用样式结束*/


/*侧边栏样式开始*/
.sidebar {
    background: url('../img/bg-sidebar.gif') top left no-repeat;
    width: 230px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: #888;
    font-size: 12px;
}

.sidebar img {
	width: 120px;
	height: 120px;
	margin: 32px 55px;
	border-radius: 50%;
	border: 1px solid black;
	box-shadow: 0px 0px 8px 1px;
}

.sidebar h2 {
	margin-top: -8px;
	color: white;
	text-align: center;
}

.sidebar .sidebar_footer {
	margin-top: 8px;
	font-size: 14px;
	text-align: center;
}

.sidebar .sidebar_footer a {
	color: #b2b2b2;
}

.sidebar .sidebar_footer a:hover {
	text-decoration: underline;
}
/*侧边栏样式结束*/

/*主体区样式开始*/
#main-content {
    margin: 0 0px 0 230px;
    padding: 24px 20px;
}

.main-content input.text-input, #main-content select, #main-content textarea, #main-content {
    font-size: 13px;
    background: #fff url('../img/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
}

.main-content label {
    display: block;
    padding: 0 0 10px;
    font-weight: bold;
}

.main-content fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}

.main-content p small {
    font-size: 0.75em;
    color: #777;
}

.main-content textarea {
    width: 97.5% !important;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content select {
    padding: 4px;
    background: #fff;
}

.main-content input[type="checkbox"], #main-content input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}

.main-content .small-input {
    width: 25% !important;
}

.main-content .medium-input {
    width: 50% !important;
}

#main-content table {
    width: 100%;
    border-collapse: collapse;
}

#main-content table thead th {
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

#main-content tbody {
    border-bottom: 1px solid #ddd;
}

#main-content tbody tr {
    background: #fff;
}

#main-content tbody tr:hover {
	background-color: rgba(0,0,0,0.03);
}


#main-content tbody tr.alt-row {
    background: #f3f3f3;
}

#main-content table td, #main-content table th {
    padding: 10px;
    line-height: 1.3em;
}

#main-content table tfoot td .bulk-actions {
    padding: 15px 0 5px 0;
}

#main-content table tfoot td .bulk-actions select {
    padding: 4px;
    border: 1px solid #ccc;
}

#main-content .pagination {
    text-align: right;
    padding: 20px 0 5px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

#main-content ul, #main-content ol {
    padding: 10px 0;
}

#main-content ul li {
    background: url('../img/bullet_black.png') center left no-repeat;
    padding: 4px 0 4px 20px;
}

#main-content ol {
    padding: 0 0 0 24px;
}

#main-content ol li {
    list-style: decimal;
    padding: 4px 0;
}
/*主体区样式结束*/


/*快捷操作区样式开始*/
ul.shortcut-buttons-set li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 !important;
    background: 0;
}

.shortcut-button {
    border: 1px solid #ccc;
    background: #f7f7f7 url('../img/shortcut-button-bg.gif') top left no-repeat;
    display: block;
    width: 120px;
    margin: 0 0 20px 0;
}

.shortcut-button span {
    border: 1px solid #fff;
    display: block;
    padding: 15px 10px 15px 10px;
    text-align: center;
    color: #555;
    font-size: 13px;
    line-height: 1.3em;
}

.shortcut-button span img {
    margin-bottom: 10px;
}

.shortcut-button:hover {
    background: #fff;
}

.shortcut-button span:hover {
    color: #57a000;
}
/*快捷操作区样式结束*/


/*添加新分类样式开始*/
.add_category {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	z-index: 99;
}

.add_category .black {
    width: 400px;
    height: 180px;
    opacity: 0.6;
    position: fixed;
    background: #333;
    z-index: 5;
}

.add_category .white {
    width: 388px;
    height: 168px;
    position: fixed;
    margin-top: 6px;
    margin-left: 6px;
    background: white;
    z-index: 5;
}

.add_category .white label {
	display: block;
	margin-left: 16px;
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 8px;
}

.add_category input[type="text"] {
	margin-top: 16px;
	margin-left: 16px;
	width: 340px;
	height: 24px;
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 2px 8px;
}

.add_category input[type="button"] {
	margin-top: 16px;
	width: 80px;
	text-decoration: none;
}
/*添加新分类样式结束*/

/*列表区样式开始*/
.content-box {
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    background: #fff;
}

.content-box-header {
	-moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #e5e5e5 url('../img/bg-content-box.gif') top left repeat-x;
    margin-top: 1px;
    height: 40px;
}

.content-box-header h3 {
    padding: 0 15px 10px;
    float: left;
}

ul.content-box-tabs {
    float: right;
    padding: 12px 15px 0 0 !important;
    margin: 0 !important;
}

ul.content-box-tabs li {
    float: left;
    margin: 0;
    padding: 0 !important;
    background-image: none !important;
}

ul.content-box-tabs li a {
    color: #333;
    padding: 8px 10px;
    display: block;
    margin: -2px;
    border-bottom: 0;
}

ul.content-box-tabs li a:hover {
    color: #57a000;
}

ul.content-box-tabs li a .current {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0;
}

ul.content-box-tabs li .default-tab {
	font-weight: normal;
	border-bottom: 0;
	color: #333;
}

ul.content-box-tabs li .checked-tab {
	font-weight: bold;
	border-bottom: 2px solid #57a000;
	color: #57a000;
}

.content-box-content {
    padding: 20px;
    font-size: 13px;
    border-top: 1px solid #ccc;
}

#list_category table tfoot tr td .button {
	margin-left: 0;
	margin-top: 8px;
}

#list_share input[type="text"] {
	width: calc(100% - 120px);
	height: 24px;
	border: 1px solid #ccc;
	margin-left: 16px;
	padding: 0 8px;
}

#list_share select {
	margin-left: 16px;
	padding: 0 8px;
	height: 28px;
	width: 200px;
}

#list_share label {
	display: inline-block;
	float: left;
	height: 32px;
	line-height: 32px;
}

#list_share textarea {
	margin-left: 16px;
	padding: 4px 8px;
	resize: none;
	width: calc(100% - 120px);
	height: 400px;
}

#list_share input[type="submit"] {
	float: right;
	margin-right: 36px;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

/*列表区样式结束*/

/*分页栏样式开始*/
.pagination a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
}

.pagination a.number {
    border: 1px solid #ddd;
}

.pagination a.current {
    background: #469400 url('../img/bg-button-green.gif') top left repeat-x !important;
    border-color: #459300 !important;
    color: #fff !important;
}

.pagination a.current:hover {
    text-decoration: underline;
}
/*分页栏样式结束*/

/*页脚栏样式开始*/
#footer {
    border-top: 1px solid #ccc;
    margin: 40px 0 0 0;
    padding: 20px 0;
    font-size: 12px;
}
/*页脚栏样式结束*/