.blockTitle2 b a {
    color: #4eabb7;
}

.list_div {
    margin-bottom: 24px;
    height: 60px;
    border-bottom: 1px dashed #CCC;
}

.list_div h3 {
    text-align: left;
    margin-left: 4px;
    margin-top: 4px;
    color: #368790;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    display: inline-block;
    height: 28px;
    width: 590px;
    line-height: 28px;
    overflow: hidden;
}

.list_div a h3:hover {
    text-decoration: underline;
}

.list_info {
    margin-left: 4px;
    width: 590px;
    font-size: 12px;
    color: #8cbfc6;
}

.list_info span {
    padding-right: 16px;
    color: #666;
    display: inline-block;
    line-height: 16px;
}

.list_info span a {
    font-size: 13px;
    color: #4eabb7;
}

.list_info span a:hover {
    text-decoration: underline;
}

#SearchResult {
    position: relative;
    top: 20px;
    width: 618px;
    margin-left: 16px;
    margin-bottom: 20px;
    line-height: 32px;
    color: #dc4a4a;
}

#SearchResult b {
    color: #F00;
}